<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exflyer.oddi.user.api.my.dao.OddiMngMapper">

	<select id="findList" resultType="com.exflyer.oddi.user.api.my.dto.OddiMngResult">
		select seq as adv_seq
					, channel_type
					, case when t.product_seq  <![CDATA[ <> ]]> 0 then CONCAT(t.channel_type_name, ' 묶음 상품')
								 else  t.channel_type_name end channel_type_name
					, title
					, start_date, end_date
					, audit_code
					, (select name from code where code = t.audit_code) as audit_code_name
					, t.product_seq
          , t.reg_date
					, progress_code
					, oddi_adv_cancel_date
			from (select  a.seq
									, a.channel_type
									, (select name from code where code = a.channel_type) as channel_type_name
									, a.title
									, a.start_date, a.end_date
									, a.audit_code
									, IFNULL((select ap.product_seq from  adv_product ap where a.seq = ap.adv_seq),0) as product_seq
									, a.reg_date
									, a.progress_code
									, a.oddi_adv_cancel_date
							from adv a inner join payment p on a.seq = p.adv_seq
							where a.member_id = #{memberId}
							and p.response_code is not null
							<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(auditCode)">
							and a.audit_code = #{auditCode}
							</if>
					 ) t
	 order by reg_date desc
	</select>

	<select id="findPartnerList" resultType="com.exflyer.oddi.user.api.my.dto.OddiMngPartner">
		select a.seq as adv_seq,p.seq as partner_seq, p.mall_name
			from adv a
		 inner join adv_partner ap on a.seq = ap.adv_seq
		 inner join partner p on ap.partner_seq = p.seq
		where a.member_id = #{memberId}
		  and a.seq = #{advSeq}
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(auditCode)">
			and a.audit_code = #{auditCode}
		</if>
	</select>

	<select id="findProductPartnerList" resultType="com.exflyer.oddi.user.api.my.dto.OddiMngPartner">
		select a.seq as adv_seq, pp.product_seq, p.seq as partner_seq, p.mall_name
			from adv a
		inner join adv_partner ap on a.seq = ap.adv_seq
		inner join product_partner pp on ap.partner_seq = pp.partner_seq
		inner join partner p on pp.partner_seq = p.seq
		where a.member_id = #{memberId}
		  and a.seq = #{advSeq}
		  and pp.product_seq  = #{productSeq}
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(auditCode)">
			and a.audit_code = #{auditCode}
		</if>
	</select>

	<select id="findByMemberId" resultType="Integer">
		select count(1)
			from adv a inner join payment p on a.seq = p.adv_seq
		 where a.member_id =  #{memberId}
			 and a.user_check = false
			 and p.response_code is not null
	</select>
</mapper>
